name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths-ignore:
      - "README.md"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3

      - name: Check for TODO and FIXME
        run: |
          grep -n --exclude-dir={.git,.github} -rE "FIXME" | while read -r line
          do
              file=$(echo $line | cut -d: -f1)
              lineno=$(echo $line | cut -d: -f2)
              echo "::warning file=$file,line=$lineno::${line}"
          done

          if grep --exclude-dir={.git,.github} -rE "TODO"; then
              exit 1
          fi

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: |
          make setup

      - name: Format
        run: |
          make format

      - name: Lint
        run: |
          make lint

      - name: Type check
        run: |
          make typecheck

      - name: Run tests
        run: |
          make test
