name: Occlusion

on:
  pull_request:
    branches:
      - main
  workflow_run:
    workflows:
      - CI
    branches:
      - main
    types:
      - completed

jobs:
  deploy:
    uses: ./.github/workflows/deploy_to_hub_reusable.yaml
    with:
      repo_name: "layout-occlusion"
      dir_name: "layout_occlusion"
      workflow_display_name: "Occlusion"
    secrets:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
      HF_USERNAME: ${{ secrets.HF_USERNAME }}
      HF_EMAIL: ${{ secrets.HF_EMAIL }}
